.comments-panel {
  color: #fff;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 10rem;
  height: fit-content;
  background-color: #181818;
  margin: 57px 0;
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}
.close-comments {
  z-index: 30;
  position: absolute;
  top: 5px;
  right: 5px;
}
.load-more-comments {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2rem;
  background-color: #009879;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0px;
  border-radius: 0 0 0.5rem 0.5rem;
}
.load-more-comments:hover {
  background-color: darkslateblue;
  transition: 0.5s;
}
